In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BL-Flickr-Images-Book.csv')

df.describe()

         Identifier  Corporate Author  Corporate Contributors  Engraver
count  8.287000e+03               0.0                     0.0       0.0
mean   2.017344e+06               NaN                     NaN       NaN
std    1.190379e+06               NaN                     NaN       NaN
min    2.060000e+02               NaN                     NaN       NaN
25%    9.157875e+05               NaN                     NaN       NaN
50%    2.043707e+06               NaN                     NaN       NaN
75%    3.047430e+06               NaN                     NaN       NaN
max    4.160339e+06               NaN                     NaN       NaN

In [3]:
df = pd.read_csv('iris.csv')

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [4]:
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
to_drop = ['species']

In [6]:
df.drop(to_drop, inplace=True, axis=1)

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [8]:
#df.drop(colums=to_drop, inplace=True)

In [9]:
df['Identifier'].is_unique

KeyError: 'Identifier'

In [10]:
#df = df.set_index('Identifier')
#df.head()

In [11]:
df.loc[50]

sepal_length    7.0
sepal_width     3.2
petal_length    4.7
petal_width     1.4
Name: 50, dtype: float64

In [12]:
#df.set_index('Identifier', inplace=True)

In [13]:
df.dtypes.value_counts()

float64    4
dtype: int64

In [14]:
df.loc[5:, 'sepal_length'].head(10)

5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
Name: sepal_length, dtype: float64

In [16]:
df.loc[10:, 'sepal_width'].head(15)

10    3.7
11    3.4
12    3.0
13    3.0
14    4.0
15    4.4
16    3.9
17    3.5
18    3.8
19    3.8
20    3.4
21    3.7
22    3.6
23    3.3
24    3.4
Name: sepal_width, dtype: float64

In [17]:
df.loc[10:, 'sepal_length'].head(0)

Series([], Name: sepal_length, dtype: float64)

In [18]:
df.loc[19]

sepal_length    5.1
sepal_width     3.8
petal_length    1.5
petal_width     0.3
Name: 19, dtype: float64

In [19]:
df.loc[25]

sepal_length    5.0
sepal_width     3.0
petal_length    1.6
petal_width     0.2
Name: 25, dtype: float64